<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407395250375-r61j43rvgv7n39rdkeaqd7flu2idn6sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407395250375-r61j43rvgv7n39rdkeaqd7flu2idn6sd</string>
	<key>API_KEY</key>
	<string>AIzaSyDfpDzUSsyhk6AkYqEust8bZgF4FCJivPo</string>
	<key>GCM_SENDER_ID</key>
	<string>407395250375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joonoon.walking-project</string>
	<key>PROJECT_ID</key>
	<string>walking-project-a2585</string>
	<key>STORAGE_BUCKET</key>
	<string>walking-project-a2585.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407395250375:ios:231d44cb8d3c00e0004ee2</string>
</dict>
</plist>